.a11y-hidden,
legend {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip-path: polygon(0 0, 0 0, 0 0);
  clip: rect(0, 0, 0, 0);
}
.skip-nav a {
  background: #000;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: center;
}
.skip-nav a:focus {
  padding: 10px 0;
  height: auto;
} 
[class$="-list"] {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.white-space {
  display: block;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
}
.more {
  display: inline-blok;
  padding: 10px 25px;
  border: 1px solid;
  border-radius: 5px;
}

