/* 8. Curriculum section 세진*/
.main__curriculum:before{
  content: "";
  display: block;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background:radial-gradient(50% 50% at 50% 50%, 
  rgba(68, 56, 45, 0) 0%, rgba(104, 41, 12, 0.4) 100%);
}
.main__curriculum{
  background: url(/images/Image07.png) no-repeat 50% 50% / cover;
  height: 540px;
  position: relative;
}

/* 카드 감싸기 */
.main__curriculum{
  position: relative;
}
.main__curriculum-inner{
  background-color: #FFFCF9;
  box-shadow: 0px 0px 15px rgba(103, 48, 25, 0.3);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

/* Curriculum logo 기준 */
.main__curriculumcard img{
  position:absolute;
  display:block;
  left:50%;
  top:50%;
  transform: translate( -50%, -50%);
}

.main__curriculumcardback{
  color: #7D6F5D;
  display: none;
  left:50%;
  top:50%;
}


.main__curriculum-heading{
  padding:80px 55px 20px;
  margin:0;
}

.main__curriculumcardback p{
  padding-bottom: 25px;
  margin: 0 23px;
  text-align:center;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 22px;
  text-transform: uppercase;
}
.main__curriculumcardback p em{
  font-weight: 700;
  font-style:normal;
}
.main__curriculumcardback a{
  border-right-color: #7d6f5d;
  border: 2px solid #7D6F5D;
  border-radius: 3px;
  font-style: Bold;
  font-size: 1.6rem;
  display: block;
  margin: 0 90px;
}

/* hover */
.main__curriculum-inner:hover{
  width: 300px;
  height: 300px;
  background-image: url(/images/sejin/W.png);
  background-repeat: no-repeat;
  background-position: 50% 15%;
}
.main__curriculumcard:hover img{
  display: none;

}
.main__curriculum-inner:hover .main__curriculumcardback{
  display: block;
}
