/* 5. reserve section */
.main__reserve{
  background: radial-gradient(109.05% 429.25% at 50% 50%, rgba(23, 15, 4, 0) 0%, #3C1D0A 100%), url(../images/Image01.png) no-repeat center;
  background-size: 100%;
  min-height: 458px;
  position: relative;
}
.main__reserve-inner{
  margin-left: 224px;
  padding-top: 90px;
  color: var(--theme-lightpink);
}
.main__reserve-heading{
  display: block;
  margin: 0;
  font-size: var(--font-small);
}
.main__reserve-inner p,
.main__reserve-inner span{
  margin: 0;
  padding: 0;
}
.main__reserve-inner p{
  font-size: var(--font-middle);
}
.main__reserve-inner span{
  display: block;
  font-size: var(--font-small);
  white-space: pre-wrap;
  width: 150px;
  margin: 20px 0;
  padding-bottom: 10px;
}
.main__reserve-more{
  border: 1px solid var(--theme-lightpink);
  font-size: var(--font-small);
  padding: 10px 25px;
  box-sizing: border-box;
  width: 128px;
  height: 36px;
}
.main__reserve img{
  position: absolute;
  top: 124px;
  left: 120px;
}