:root {
  --theme-black: #282725;
  --theme-white: #FFFCF9;
  --theme-pink: #E27762;
  --theme-lightorange: #F3D6B0;
  --theme-lightpink: #A37356;
  --theme-brown: #412311;
  --theme-lightbrown: #5F4C4C;
  --theme-gold: #7D6F5D;
  --font-small: 1.3rem;
  --font-middle: 2.1rem;
  --font-big: 2.8rem;
}