/* various section */
.main__various{
  background: linear-gradient(105.54deg, rgba(32, 23, 1, 0.5) 36.2%, rgba(95, 57, 35, 0.2) 74.71%), url(../images/Image10.png) no-repeat;
  background-size: 100% 100%;
  color: var(--theme-white);
  height: 841px;
}
.main__various-inner{
  margin-left: 111px;
  padding-top: 110px;
  display: flex;
  flex-flow: column nowrap;
  width: 401px;
  text-align: right;
  position: relative;
}
.main__various-header{
  margin: 0;
}
.main__various-header span,
.main__various-text span,
.main__various-text2 span{
  display: block;
}
.main__various-text{
  font-size: 32px;
  margin-bottom: 15px;
}
.main__various-text2{
  font-size: 16px;
  margin-bottom: 40px;
}
.main__various-header span:nth-child(1){
  font-size: 155px;
  line-height: 80%;
  letter-spacing: 0.05em;
}
.main__various-header span:nth-child(2){
  font-size: 133px;
  line-height: 80%;
  letter-spacing: 0.05em;
}
.main__various-header span:nth-child(3){
  font-size: 74px;
  line-height: 80%;
  letter-spacing: 0.05em;
  margin-bottom: 44px;
}
.main__various-more{
  border: 1px solid var(--theme-white);
  width: 128px;
  height: 39px;
  padding: 11.5px 25px;
  font-size: 16px;
  line-height: 16px;
  box-sizing: border-box;
  white-space: nowrap;
  margin-left: auto;
}
.main__various-imgs img{
  width: 284px;
  height: 362px;
  border: 10px solid var(--theme-white);
}
.main__various-imgs img:nth-child(1){
  position: absolute;
  top: 191px;
  left: 592px;
  filter: drop-shadow(2px 6px 10px rgba(0, 0, 0, 0.45));
  transform: rotate(-9.21deg);
}
.main__various-imgs img:nth-child(2){
  position: absolute;
  top: 151px;
  left: 805px;
  filter: drop-shadow(2px 6px 10px rgba(0, 0, 0, 0.45));
  transform: rotate(8.71deg);
}
.main__various-imgs img:nth-child(3){
  position: absolute;
  top: 292px;
  left: 938px;
  filter: drop-shadow(2px 6px 10px rgba(0, 0, 0, 0.45));
  transform: rotate(29.6deg);

}