/* 4. youtube section */
.main__video{
  background-color: var(--theme-black);
}
.main__video-inner{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 25px 0;
}
.iframe-wrapper{
  margin: 0;
}
.iframe-wrapper{
  width: 100%;
  height: 0 !important; /*글자 크기의 높이를 가질 수 있기 때문에*/
  position: relative;
}
.iframe4-3{
  padding-top: 75%;
}
.iframe16-9{
  padding-top: 56.25%;
}
.iframe-wrapper iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main__video-symbol1{
  display: block;
  width: 70px;
  height: 95px;
  margin-right: 85px;
}
.main__video-symbol2{
  display: block;
  width: 70px;
  height: 95px;
  margin-left: 85px;
}